body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  margin-top: 75px;
  justify-content: center;
}
.segment.home,
.segment.workouts,
.segment.addWorkout {
  width: 900px;
}
.segment {
  max-width: 900px;
}

.auth-form {
  width: 500px;
}

.ExerciseDetail-images {
  display: flex;
  margin-top: 25px;
  justify-content: space-evenly;
}

.ExerciseDetail-breadcrumb {
  margin: 25px 0;
}

@media only screen and (max-width: 767px){
  .app{
    margin-top: 275px;
  }
}
